.lists {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 16px;
  margin: 0 auto;
}

.list {
  position: relative;
  background-color: #f0f8ff;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px #888888;
  transition: all 0.5s;
  border: 1px solid #888888;

  &_title {
    background-color: transparent;
    width: 100%;
    font-size: 24px;
    padding: 8px;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    caret-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #c3c3ff4d;
    }

    &.editable {
      background-color: white;
      border: 1px solid #cecece;
      caret-color: unset;
      cursor: unset;
    }
  }

  &_controls {
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    margin: 10px;
    transition: opacity 0.2s;
  }

  &:hover &_controls {
    opacity: 1;
  }

  &:hover {
    margin-top: 0px;
    margin-bottom: 24px;
    box-shadow: 4px 8px 8px #888888;
  }
}
