.Auth {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_body {
    min-width: 320px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }

  &_title {
    margin: 0 auto;
    padding: 10px;
    font-size: 1.8rem;
  }

  &_form {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 1.2rem;
    }

    .input {
      outline: none;
      border: 1px solid #9a9a9a;
      padding: 5px;
      font-size: 1.2rem;
    }
  }

  &_error {
    background-color: #e44646;
    border: 2px solid #ff1616;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }
}
